argcomplete==3.2.2
attrs==23.2.0
charset-normalizer==3.4.2
distro==1.9.0
idna==3.7
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
louis==3.28.0
lxml==5.2.1
packaging==24.2
pexpect==4.9.0
ptyprocess==0.7.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
referencing==0.31.1
requests==2.32.4
rpds-py==0.17.1
setuptools==69.0.3
six==1.16.0
sos==4.10.0
urllib3==1.26.19
